*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, sans-serif;
    background-color: #fc3d3d;
    padding: 20px;
}

h1{
    text-align: center;
    margin-bottom: 30px;
    color: #333;
}

.services{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.card{
    background-color: rgb(248, 132, 132);
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

.card h2{
    color: #0077cc;
    margin-bottom: 10px;
}

.card p{
    color: #555;
    line-height: 1.6;
}