/* Universal Selector */

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, sans-serif;
}


body{
    background:#f4f4f4;
}

header{
    background:#ffd700;
    color:white;
    padding:20px;

    display:flex;
    justify-content:space-between;
    align-items:center;
}

section{
    padding:40px;
    text-align:center;
}

footer{
    background:#ffd700;
    color:white;
    text-align:center;
    padding:20px;
}

/* Class Selector */

.menu{
    list-style:none;
    display:flex;
}

.menu li{
    margin-left:25px;
}

.menu a{
    text-decoration:none;
    color:white;
}

.card-container{
    display:flex;
    justify-content:center;
    align-items:center;
    gap:20px;
    flex-wrap:wrap;
    margin-top:20px;
}

.card{
    width:220px;
    padding:20px;
    border:2px solid #ccc;
    border-radius:10px;
    background:white;
    box-shadow:0 0 10px rgba(0,0,0,.2);
}


#logo{
    color:#ff0000;
}


h1,h2,h3{
    margin-bottom:15px;
}


nav ul li a:hover{
    color:yellow;
}


.card > p{
    color:#555;
}