*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;

}
.parent{
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 600px;
    flex-direction: column;
    gap: 20px;
}
.child{
    background-color: greenyellow;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;

}
.sec_child{
    background-color: blueviolet;
     width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.thi_child{
    background-color:tomato;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.fourth_child{
    background-color: aqua;
    display: block;
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}