body {
    background-color: lightgray;
    color: black;
    width: 100%;
    height: 100%;
}
.company {
    background-color: lightblue;
    color: darkblue;
    width: 400px;
    height: 150px;
}
#infosys {
    background-color: lightgreen;
    color: darkgreen;
    width: 400px;
    height: 150px;
}