*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   
}

.button-container > input{
    margin: 10px;
    width: 200px;
    height: 50px;
    padding: 10px;
 
}

.button-container > input:hover{
  background-color: #000000;
  color: white;
}